@media screen and (min-width: 0) {
  .app {
    grid-template-rows: 80px auto auto;
  }

  .destaques__principal,
  .destaques__categorias {
    grid-column: 1 / -1;
  }
  .destaques__secundario:nth-child(2),
  .destaques__secundario:nth-child(3),
  .destaques__secundario:nth-child(4),
  .destaques__secundario:nth-child(5) {
    display: none;
    grid-column: none;
    grid-row: none;
  }

  .populares__conteudo {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    column-gap: 1rem;
  }

  .populares__card {
    grid-template-rows: 150px auto;
  }
}

@media screen and (min-width: 768px) {
  .app {
    grid-template-rows: 50px auto auto;
  }

  .destaques__principal {
    grid-column: 1 / 4;
  }
  .destaques__secundario:nth-child(2),
  .destaques__secundario:nth-child(3),
  .destaques__secundario:nth-child(4),
  .destaques__secundario:nth-child(5) {
    display: flex;
  }
  .destaques__secundario:nth-child(2) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .destaques__secundario:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .destaques__secundario:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
  .destaques__secundario:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  .destaques__categorias {
    grid-column: 1 / 3;
  }

  .populares__conteudo {
    grid-template-columns: 1fr 1fr;
  }

  .populares__card {
    grid-template-rows: 173px auto;
  }
}

@media screen and (min-width: 992px) {
  .populares__conteudo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .populares__conteudo {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0;
  }
}