<table class="tabela" aria-label="Tabela de valores de transferências">
  <thead class="tabela__cabecalho">
    <tr>
      <th class="tabela__cabecalho__conteudo" colspan="col">Valor</th>
      <th class="tabela__cabecalho__conteudo" colspan="col">Destino</th>
      <th class="tabela__cabecalho__conteudo" colspan="col">Data</th>
    </tr>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia">
    <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
      <td class="tabela__conteudo">{{transferencia?.valor | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
      <td class="tabela__conteudo">{{transferencia?.destino}}</td>
      <td class="tabela__conteudo">{{transferencia?.data | date:'dd/MM/y HH:mm:ss'}}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <tr class="tabela_linha">
    <td [colSpan]="3" >
      <p>Nenhuma operação cadastrada.</p>
    </td>
  </tr>
</ng-template>
