<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{base :: head}"></head>
  <body onload="onLoad()">
    <div th:replace="~{base :: logo}"></div>
    <div class="container" id="ofertas">
      <div th:replace="~{base :: titulo('Faça sua Oferta')}"></div>
      <div class="card mb-3" v-for="pedido in pedidos">
        <div class="card-header alert alert-dark">{{pedido.nomeProduto}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-8 mb-3">
              <div>Produto</div>
              <div>
                <a v-bind:href="pedido.urlProduto" target="_blank"
                  >{{pedido.nomeProduto}}</a
                >
              </div>

              <div>Descrição</div>
              <div>
                <textarea disabled class="form-control">
{{pedido.descricao}}</textarea
                >
              </div>
              <div class="row mt-3">
                <div class="col-md-5">
                  Valor:
                  <input
                    class="form-control"
                    type="text"
                    v-model="pedido.valorNegociado"
                  />
                </div>
                <div class="col-md-7">
                  Data de entrega:
                  <input
                    class="form-control"
                    type="text"
                    v-model="pedido.dataDeEntrega"
                  />
                </div>
              </div>
              <div class="mt-2">
                <label>Comentário</label>
                <textarea
                  class="form-control"
                  v-model="pedido.comentario"
                ></textarea>
              </div>
              <button class="btn btn-success mt-2" v-if="pedido.ofertaEnviada">
                Oferta enviada
              </button>
              <button
                class="btn btn-primary mt-2"
                v-else
                v-on:click="enviarOferta(pedido)"
              >
                Enviar Oferta
              </button>
            </div>

            <div class="col-12 col-sm-4">
              <img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function onLoad() {
        const { createApp } = Vue;

        createApp({
          data() {
            return {
              pedidos: [],
            };
          },
          mounted() {
            axios
              .get("http://localhost:8080/api/pedidos/aguardando")
              .then((r) => {
                r.data.forEach((p) => (p.ofertaEnviada = false));
                this.pedidos = r.data;
              });
          },
          methods: {
            enviarOferta: function (pedido) {
              axios
                .post("http://localhost:8080/api/ofertas", {
                  pedidoId: pedido.id,
                  valor: pedido.valorNegociado,
                  dataDeEntrega: pedido.dataDeEntrega,
                  comentario: pedido.comentario,
                })
                .then((r) => (pedido.ofertaEnviada = true));
            },
          },
        }).mount("#ofertas");
      }
    </script>
  </body>
</html>
